@font-face {
    font-family: 'Days Sans Black';
    src: url('../fonts/days_sans_blackregular/dayssansblack-webfont.woff2') format('woff2'), url('../fonts/days_sans_blackregular/dayssansblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: local("Evolventa"), url("../fonts/evolventa/Evolventa-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: local("Evolventa Oblique"), url("../fonts/evolventa/Evolventa-Oblique.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Evolventa;
    src: local("Evolventa Bold"), url("../fonts/evolventa/Evolventa-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: local("Evolventa Bold Oblique"), url("../fonts/evolventa/Evolventa-BoldOblique.woff");
    font-weight: bold;
    font-style: italic;
}

main {
    flex-grow: 1;
}

body {
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
}
 