@font-face {
    font-family: 'Days Sans Black';
    src: url('../fonts/days_sans_blackregular/dayssansblack-webfont.woff2') format('woff2'), url('../fonts/days_sans_blackregular/dayssansblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 20px;
}
 