.header {
    background: no-repeat right url('./images/courses-page/rectangle.svg');
    background-position-x: 30vw;
    border-bottom: 4px solid rgba(0, 104, 182, 1);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    margin-left: max(0px, calc((100vw - 1208px)/2 + 15px));
}

.chapters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.available-courses {
    display: flex;
    margin-top: 43px;
    align-items: center;
    gap: 30px;
}

span + span {
    background-color: rgba(0, 104, 182, 1);
    color: white;
    border-radius: 20px;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.tests {
    width: 100%;
}

button {
    background-color: rgba(0, 104, 182, 1);
    padding: 10px;
    max-width: 230px;
    border-radius: 20px;
    color: white;
}