@page "/"

<main>
    <WidthWrapper>

        <div class="headers">
            <h1>
                БУДУЩЕЕ IT КОМПАНИЙ
            </h1>
            <hr>
            <NavLink  href="/login">
                <span>
                    Войти в кабинет
                </span>
            </NavLink>
            <hr>
        </div>

        <img src="./images/main-page/courses.png"/>
    </WidthWrapper>
</main>