.headers > img {
    font-family: "Days Sans Black";
    font-size: 48px;
    max-width: 320px;
}

hr {
    border-top: 4px solid rgba(0, 104, 182, 1);
}

img + hr {
    flex: 1;
    margin: 10px;
}

a + hr {
    flex: 0.3;
    margin-left: 10px;
}

.headers {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:65px;
    margin-bottom:43px;
}

.headers span{
    background-color: rgba(0, 104, 182, 1);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}