@page "/"

<main>
    <WidthWrapper>
        <h1>
            БУДУЩЕЕ IT КОМПАНИЙ
        </h1>
        <NavLink href="/login">
            <span>
                Войти в кабинет
            </span>
        </NavLink>
        <img src="./images/main-page/courses.png"/>
    </WidthWrapper>
</main>