@page "/"
@using MouseOnPumping.Core

@inject NavigationManager Navigator
@inject MouseClient Client

<main>
    <WidthWrapper>

        <div class="headers">
            <img src="./images/main-page/it-future.svg">
            <hr>
            <button @onclick=@OnNavigate>
                <span>
                    Войти в кабинет
                </span>
            </button>
            <hr>
        </div>

        <img class="presentation-image" src="./images/main-page/courses.png"/>
    </WidthWrapper>
</main>

@code
{
    public void OnNavigate()
    {
        if (Client.IsAuthorized)
        {
            Navigator.NavigateTo("/courses");
            return;
        }

        Navigator.NavigateTo("/login");
    }

}