

<h1>
    Tema: @Question.Theme
</h1>
<h1>
    Номер теста: @(Number+1)
</h1>

<div>
    <h2></h2>
    @for (int i = 0; i < Question.AnswerOptions.Count; i++)
    {
        <AnswerView 
                Answer=@Question.AnswerOptions.ElementAt(i)
                        IsSelected=@(Question.UserAnswer == i)
                            OnSelected=@Select(i)/>
    }
</div>

@code{
    [Parameter]
    public required Question Question { get; init; }
    [Parameter]
    public required int Number { get; init; }
    [Parameter]
    public required int Count { get; init; }

    public Action Select(int i)
    {
        return () =>
        {
            Question.UserAnswer = i;
            this.StateHasChanged();
        };
    }
}