    
@if (MaxWidth != null)
{
    <div class="width-wrapper" style="max-width: @MaxWidth;">
        @ChildContent
    </div>    
}
else 
{
    <div class="width-wrapper">
        @ChildContent
    </div>
}

@code {
[Parameter]
public string? MaxWidth { get; set; } = null;
[Parameter]
public RenderFragment? ChildContent { get; set; }
}