footer {
    width: 100%;
    margin-top: 20px;
    border-top: 4px solid rgba(0, 104, 182, 1);
}

.footer-wrapper {
    color: rgba(0, 104, 182, 1);
    display:flex;
    justify-content: space-between;
    padding: 15px 0;
}