@using MouseOnPumping.Client.Api.Models

<button @onclick=@OnClick class="@Class">@(Number+1). @Chapter.Name</button>

@code {
    [Parameter]
    public required CourseChapter Chapter { get; init; }
    [Parameter]
    public required int Number { get; init; }
    [Parameter]
    public required bool IsSelected { get; init; }
    [Parameter]
    public required Action OnClick { get; init; }

    private string Class => (IsSelected) ? "selected-chapter" : "chapter";
}