@layout WidthWrapper

<header>
    <WidthWrapper>
        <div class="header__wrapper">
            <div class="header__logo">
                <NavLink Match="NavLinkMatch.All" herf="/">
                    <span>ISERV</span>
                    <span class="header__logo__project-name"> EDUCATION</span>
                </NavLink>
            </div>
        </div>
    </WidthWrapper>
</header>