header {
    width: 100%;
    border-bottom: 4px solid rgba(0, 104, 182, 1);
}

/* iserv education */

.header__wrapper {
    flex-wrap: wrap;
    padding: 15px 0;
}

.header__logo {
    font-family: 'Days Sans Black';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.header__logo__project-name {
    color: #0068b6
}
