<footer>
    <WidthWrapper>
        <div class="footer-wrapper">
            <span>© 1999-2024, ООО "ИСЕРВ"</span>
            <span>info@it-serv.ru</span>
            <span>+7 (8352) 230-300</span>
            <span>+7 (495) 419-06-60</span>
        </div>
    </WidthWrapper>
</footer>